
.container11{
    position:absolute;
    width: 360px;
    position:absolute;  
   left:50%;  
   top:50%;  
   height: 310px;
   margin:-100px 0 0 -150px;
}
.project-name{
    width: 232px;
    height: 38px;
    font-size: 33px;
    font-weight: bold;
    margin: 0 auto;      
}
.input_box{
    height: 40px;
}
input::placeholder{
    font-size: 16px;
    text-align: center;
}